<!DOCTYPE html>
{{=[[ ]]=}}
<html ng-app="ov.publish.player" ng-controller="PlayerController" ng-strict-di>
  <head>
    <title>OpenVeo - {{data.title}}</title>
    <base href="/publish/video/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    [[#css]]
      <link rel="stylesheet" type="text/css" href="[[.]]">
    [[/css]]

    <!--[if lt IE 9]>
      <script src="/publish/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->

  </head>

  <body>
    <div class="container" ng-class="{'full':isFullViewport}" ng-cloak>
      <opl-player
        id="opl-player"
        opl-template="{{defaultTemplate}}"
        opl-player-type="{{playerType}}"
        opl-full-viewport="{{isFullViewport}}"
        opl-data="data"
        opl-language="{{language}}"
        opl-auto-play="{{autoPlay}}"
        opl-remember-position="{{rememberPosition}}"
        opl-fullscreen-icon="{{fullScreenIconDisplayed}}"
        opl-volume-icon="{{volumeIconDisplayed}}"
        opl-template-icon="{{templateIconDisplayed}}"
        opl-settings-icon="{{settingsIconDisplayed}}"
        opl-veo-labs-icon="{{veoLabsIconDisplayed}}"
        opl-time="{{timeDisplayed}}"
        opl-chapters-tab="{{chaptersDisplayed}}"
        opl-tags-tab="{{tagsDisplayed}}"
        opl-cuts="{{cutsEnabled}}"
        ng-style="{'visibility': (data && data.available && ready) ? 'visible' : 'hidden'}"
      ></opl-player>
      <div class="disclaimer" ng-if="data && !data.available">
        <span ng-bind-html="availabilityMessage"></span>
      </div>
      <div class="disclaimer" ng-if="!ready">
        <span ng-bind-html="loadingMessage"></span>
      </div>
    </div>

    [[#scripts]]
      <script type="text/javascript" src="[[.]]"></script>
    [[/scripts]]

    <script>
      var languages = [ [[& languages]] ];
      var languageCode = (navigator.language || navigator.browserLanguage).split('-')[0];
      languageCode = languages.indexOf(languageCode) > -1 ? languageCode : languages[0];
      document.write('\x3Cscript type="text/javascript" src="/publish/video.js/dist/lang/' + languageCode + '.js">\x3C/script>');
    </script>
  </body>

</html>
