<!DOCTYPE html>
{{=[[ ]]=}}
<html ng-app="ov.publish.player" ng-controller="PlayerController" ng-strict-di>
  <head>

    <base href="/publish/video/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    [[#css]]
      <link rel="stylesheet" type="text/css" href="[[.]]">
    [[/css]]

    <!--[if lt IE 9]>
      <script src="/publish/lib/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
    <script>
      var ovPlayerDirectory = "/publish/lib/openveo-player";
    </script>
    
  </head>

  <body>

    <ov-player 
      ov-player-type="playerType"
      ov-mode-icon="displayModeIcon"
      ov-full-viewport="fullViewport"
      ov-data="data"
      ng-show="ready"
    ></ov-player>

    [[#scripts]]
      <script type="text/javascript" src="[[.]]"></script>
    [[/scripts]]

  </body>

</html>