# Linux
.directory
*~
.*.swp

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
Desktop.ini
ehthumbs.db

# Logs
*.log

# NPM dependencies
/node_modules

# Published video packages
/assets/player/videos

# Compiled files
.sass-cache
/build
/assets/be/js
/assets/be/css
/assets/player/js
/assets/player/css

# IDE
nbproject

# Documentation
/site

# Images processing cache directories
.cache
