.pu-medias{
  padding-bottom: 150px;
  @include mobile(){
    padding-bottom:20px;
  }
}


/* List details */
.pu-detail {
  line-height: initial;
  padding-bottom: 10px;
  width:100%;
  float:left;
  border: 1px solid #ddd;
  border-top:0 none;

  ul {
    list-style: none;
    padding-left: 35px;
  }
  li{ line-height: 22px; }
  .btn-group{ margin-left: 35px; }
  .label{ margin-right: 5px; }
  input{ margin: 1px 0; }
}

.pu-categories{
  .input-group{
    margin-bottom: 30px;
  }
  .add.btn{
    padding: 6px 12px;
    color: $brand-primary;
    background-color: white;
    line-height: 1.45;
    &:hover{
      color: white;
      background-color: $brand-primary;
    }
  }
}

.pu-chapter{

  .well .progress {
    background-color: #eaeaea;
  }
  .back-button{
    margin-right:20px;
  }
  .media-viewer.row{
    margin-bottom:15px;
  }
  .chapter-table{
    &>thead>tr>th{
      background-size: 100%;
      background-image:none;
      background-color: $brand-primary;
    }
    tr{
      width: 100%;
      display: inline-table;
    }
    tbody {
      height: 319px;
      max-height: 319px;
      overflow-y: auto;
      display: block;
      width: 100%;
      @include mobile(){
        height:auto;
      }
      tr {
        cursor:pointer;

        &.selected{
          background-color: $brand-primary;
          color:white;
        }
        &.end{
          background-color: lighten($brand-danger, 30%);
          &.selected{
          background-color: $brand-danger;
          }
        }
        &.begin{
          background-color: lighten($brand-success, 30%);
          &.selected{
            background-color: $brand-success;
          }
        }
      }
    }
  }
  .multirange-container{
    margin-top:15px;
  }

  .editform{
    textarea{
      max-width:100%;
    }
    .button{
      text-align: center;
    }
    .well{
      margin-bottom:0px;
    }
  }
  .ov-player{
    height:450px;
  }
  
  .chapter-title{
    line-height:37px;
    span {
      line-height: 18px;
      display: block;
      padding: 9px 0;
    }
  }
  .no-chapter{
    height: 417px;
    vertical-align: middle;
    line-height: 358px;
      .text{
        vertical-align: middle;
        line-height: normal;
        display: inline-block;
        text-align: center;
        width: 100%;
      }
  }

  .nav.nav-tabs{
    margin: 0;
    &>li{
      &>a, &>a:hover, &>a:focus{
        background-size: 100% 200%;
        border: 0px none;
      }
      &.active>a{
        color: #fff;
        background-position-y:100%;
        background-size: 100% 200%;
        transition: all 0.2s ease;
      }
    }
  }


  &.chapters{
    $brand-primary: #1FBBEB;
    .table>thead>tr>th{
      background-color: $brand-primary;
    }
    .ov-multirange-mk2-label.active span{
      background-color: $brand-primary;
      border-color: $brand-primary;
    }
    .chapter-table tbody tr.selected{
      background-color: $brand-primary;
    }
    ov-multirange input[type=range]{
      &::-webkit-slider-thumb {
        background: $brand-primary;
      }
      &::-moz-range-thumb {
        background: $brand-primary;
      }
      &::-ms-thumb {
        background: $brand-primary;
      }
    }
    .nav>li.active>a{
      background-image: linear-gradient(to bottom, #ffffff 50%,$brand-primary 50%);
    }
  }
  &.tags{
    $brand-primary: #97BF0D;
    .table>thead>tr>th{
      background-color: $brand-primary;
    }
    .ov-multirange-mk2-label.active span{
      background-color: $brand-primary;
      border-color: $brand-primary;
    }
    .chapter-table tbody tr.selected{
      background-color: $brand-primary;
    }
    ov-multirange input[type=range]{
      &::-webkit-slider-thumb {
        background: $brand-primary;
      }
      &::-moz-range-thumb {
        background: $brand-primary;
      }
      &::-ms-thumb {
        background: $brand-primary;
      }
    }

    .nav>li.active>a{
      background-image: linear-gradient(to bottom, #ffffff 50%,$brand-primary 50%);
    }
  }
}