.ov-multirange-mk2-container {
  position: relative;
  width: 100%;
  height: 140px;
  overflow-x: auto;
  overflow-y: hidden;
}

.ov-multirange-mk2-labels-container {
  margin-left: 5px;
}

.ov-multirange-mk2-labels {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 2px auto;
  list-style: none;
  cursor:pointer;
}

.ov-multirange-mk2-label {
  position: absolute;
  bottom: 0px;
}

.ov-multirange-mk2-label span {
  max-width: 100px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  margin-left: -50%;
  vertical-align: top;
  font-size: 11px;
  line-height: 11px;
  color: #333333;
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #e3e3e3;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  padding: 4px 6px;
  transition: all 0.25s;
  position: relative;
  top:0px;
  &.end{
    background-color: $brand-danger;
  }
  &.begin{
    background-color: $brand-success;
  }
}
.ov-multirange-mk2-label.active span{
  background-color: #1FBBEB;
  color:#fff;
  top:-25px;
  border-radius: 0px;
  border: 1px solid #1FBBEB;
  &.end{
    background-color: $brand-danger;
    border: 1px solid $brand-danger;
  }
  &.begin{
    background-color: $brand-success;
    border: 1px solid $brand-success;
  }
}

.ov-multirange-mk2-hairline {
  position: absolute;
  border-left: 1px solid black;
}

.ov-multirange-mk2-hairlines-container {
  margin-left: 5px;
}

.ov-multirange-mk2-hairlines {
  position: relative;
  width: 100%;
  height: 25px;
  padding: 0;
  margin: auto;
  list-style: none;
}

.ov-multirange-mk2-hairline {
  position: absolute;
  border-left: 1px solid rgba(0,0,0,0.6);
}

.ov-multirange-mk2-hairline span {
  display: inline-block;
  margin-left: -50%;
  margin-top: 14px;
  font-size: 11px;
  color: rgba(0,0,0,0.6);
  font-family: 'Arial', sans-serif;
}

.ov-multirange-container {
  position: relative;
  width: 100%;
  height: 20px;
  /* DO NOT MODIFY MARGIN */
}

.ov-multirange-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.ov-multirange-track {
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: rgba(210,210,210,0.8);
}

.ov-multirange {
  -webkit-appearance: none;
  width: 100%;
  margin: 1px 0 0 0;
  padding: 0;
  cursor: pointer;
  box-shadow: 0 0 0 transparent;
}

.ov-multirange:focus {
  outline: none;
}

.ov-multirange::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 10px;
  border-radius: 4px;
  background: rgba(66,139,202,0.75);
}

.ov-multirange::-webkit-slider-runnable-track {
  height: 1px;
  border: none;
  background: transparent;
  margin-top: -1px;
}

.ov-multirange::-moz-range-thumb {
  border: none;
  height: 20px;
  width: 10px;
  border-radius: 4px;
  background: rgba(66,139,202,0.75);
}

.ov-multirange::-moz-range-track {
  height: 1px;
  border: none;
  background: transparent;
  margin-top: -1px;
}

.ov-multirange::-ms-tooltip {
  display: none;
}

.ov-multirange::-ms-thumb {
  border: none;
  height: 20px;
  width: 10px;
  border-radius: 4px;
  background: rgba(66,139,202,0.75);
}

.ov-multirange::-ms-track {
  background: transparent;
  color: transparent;
  border-color: transparent;
  border-width: 6px 0;
}

.ov-multirange::-ms-fill-lower {
  height: 1px;
  background-color: transparent;
}

.ov-multirange::-ms-fill-upper {
  height: 1px;
  background-color: transparent;
}
