// add support responsive
@import "base/on-responsive";
@import "base/browser-support";

@import "base/colors";

/**
 * Mixins / Helper / Function
 */
@import "mixins/responsive";
@import "mixins/animation";
@import "mixins/retina";

.container{
  margin: 0 auto;
  position: relative;
  &.full{
    position: initial;
  }

  @include tablet(){
    width: $screen-sm;
  }
  @include desktop(){
    width: $screen-md;
  }
  @include desktop-wide(){
     width: $screen-lg;
  }
}

.disclaimer {
  
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 500px;
  
  background-color: $gray-lighter;
  
  color: $brand-primary;
  text-align: center;
  line-height: 580px;
  font-family: arial;
  
  span{
    display: inline-block;
    font-size: 42px;
    line-height: 60px; 
  }
}