<div class="pu-properties">
  <h2 ng-bind="'PROPERTIES.TITLE' | translate"></h2>
  <div class="well well-lg" ng-bind="'PROPERTIES.INFO' | translate"></div>
  <p class="ng-hide" ng-show="!properties.length" ng-bind="'PROPERTIES.NO_PROPERTIES' | translate"></p>

  <ng-include src="'/views/elements/dataTable.html'"></ng-include>

  <hr/>
  <div class="col-xs-12 col-sm-6">
    <h4><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span ng-bind="'PROPERTIES.ADD_PROPERTY' | translate"></span></h4>
    <form class="form-horizontal" name="addPropertyForm" ng-submit="addPropertyForm.$valid && addProperty(addPropertyForm)" novalidate>

      <div class="form-group" ng-class="{'has-error': addPropertyForm.propertyName.$invalid && addPropertyForm.$submitted}">
        <label for="propertyName" ng-bind="'PROPERTIES.FORM_ADD_NAME' | translate"></label>
        <input type="text" name="propertyName" class="has-error form-control" id="propertyName" placeholder="[['PROPERTIES.FORM_ADD_NAME' | translate]]" ng-model="propertyName" ng-disabled="addPropertyForm.saving" required>
        <small><em ng-bind="'PROPERTIES.FORM_ADD_NAME_DESC' | translate"></em></small>
      </div>

      <div class="form-group" ng-class="{'has-error': addPropertyForm.propertyDescription.$invalid && addPropertyForm.$submitted}">
        <label for="propertyDescription" ng-bind="'PROPERTIES.FORM_ADD_DESCRIPTION' | translate"></label>
        <input type="text" name="propertyDescription" class="form-control" id="propertyDescription" placeholder="[['PROPERTIES.FORM_ADD_DESCRIPTION' | translate]]" ng-model="propertyDescription" ng-disabled="addPropertyForm.saving" required>
        <small><em ng-bind="'PROPERTIES.FORM_ADD_DESCRIPTION_DESC' | translate"></em></small>
      </div>

      <div class="form-group">
        <label for="propertyType" ng-bind="'PROPERTIES.FORM_ADD_TYPE' | translate"></label>
        <select class="form-control" ng-model="propertyType" ng-options="type.value as (type.label | translate) for type in supportedTypes" ng-disabled="addPropertyForm.saving"></select>
        <small><em ng-bind="'PROPERTIES.FORM_ADD_TYPE_DESC' | translate"></em></small>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-bind="'PROPERTIES.FORM_ADD_BUTTON' | translate" ng-disabled="addPropertyForm.saving"></button>
      </div>

    </form>
  </div>
</div>