<div>
  <h1>Publish administration</h1>

  <h2>Watcher</h2>
  <div class="alert alert-warning" ng-show="watcherStatus == 0" role="alert">
    OpenVeo Publish watcher is starting... Please wait
  </div>  
  <div class="alert alert-success" ng-show="watcherStatus == 1" role="alert">
    OpenVeo Publish watcher is currently listening to hot folder(s)
  </div>
  <div class="alert alert-warning" ng-show="watcherStatus == 2" role="alert">
    OpenVeo Publish watcher is stopping... Please wait
  </div>
  <div class="alert alert-danger" ng-show="watcherStatus == 3" role="alert">
    OpenVeo Publish watcher is actually not started
  </div>
  <button type="button" class="btn btn-danger" ng-show="watcherStatus == 0 || watcherStatus == 1" ng-click="stopWatcher()" ng-disabled="disableWatcher">Stop watcher</button>
  <button type="button" class="btn btn-success" ng-show="watcherStatus == 2 || watcherStatus == 3" ng-click="startWatcher()" ng-disabled="disableWatcher">Start watcher</button>

  <h2>Videos</h2>
  <p class="ng-hide" ng-show="!videos.length">No video published yet</p>
  <table class="table ng-hide" ng-show="videos.length">
    <thead>
      <tr>
        <th>Video</th>
        <th>Link</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>

      <tr ng-repeat="video in videos" ng-class="{'success': (video.status === 'success'), 'info' : (video.status === 'pending'), 'danger' : (video.status === 'error')}">
        <td>[[video.id]]</td>
        <td><a ng-href="[[video.link]]" target="_self">[[video.link]]</a></td>
        <td>[[video.state]]</td>
      </tr>
    </tbody>
  </table>
</div>