<div class="pu-categories">
  <h2 ng-bind="'CATEGORIES.TITLE' | translate"></h2>
  <div class="well well-lg" ng-bind="'CATEGORIES.INFO' | translate"></div>
  <div class="col-md-6">
    <div class="input-group" ng-if="rights.add || rights.edit">
      <input type="text" class="form-control" name="newItem" ng-model="newitem.title" placeholder="{{'CATEGORIES.NEW_ITEM' | translate}}" aria-describedby="basic-addon1" uib-popover="{{'CATEGORIES.NAME_ELEMENT' | translate}}" popover-trigger="mouseenter">
      <div class="input-group-btn">
        <div  uib-popover="{{'CATEGORIES.ADD_ELEMENT' | translate}}" popover-trigger="mouseenter">
          <button class="add btn btn-default" type="button" ng-click="newSubItem()"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
      </div>
    
    </div>
    
    <!-- Nested list template -->
    <script type="text/ng-template" id="items_renderer.html">
      <div ui-tree-handle ng-if="!rights.edit" data-nodrag>
        <a class="btn btn-xs" data-nodrag ng-click="toggle(this)" ng-if="item.items.length!=0">
          <span class="glyphicon"  ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
        </a>
        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-if="rights.delete" ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
        <span data-nodrag ng-if="!rights.edit" ng-bind='item.title'></span>
      </div>
      <div ui-tree-handle ng-if="rights.edit">
        <a class="btn btn-xs" data-nodrag ng-click="toggle(this)" ng-if="item.items.length!=0"  >
          <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
        </a>
        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-if="rights.delete" ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
        <input ng-if="rights.edit" type="text" class="form-control" ng-model='item.title'>
      </div>
      <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
        <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'">
        </li>
      </ol>
    </script>
    <div ui-tree="options">
      <ol ui-tree-nodes ng-model="list" >
        <li ng-repeat="item in list" ui-tree-node ng-include="'items_renderer.html'"></li>
      </ol>
    </div>
  </div>
  <div class="col-md-6" ng-if="rights.add || rights.edit || rights.delete">
    <button class="btn btn-primary" type="button" ng-click="saveCategory()"  ng-disabled="saveIsDisabled || saveIsEmpty" ng-bind="'UI.FORM_SAVE' | translate"></button>
    <button class="btn btn-default" type="button" ng-click="resetCategory()"  ng-disabled="saveIsDisabled" ng-bind="'UI.FORM_CANCEL' | translate"></button>
  </div>
</div>