<div class="pu-config">
  <h2 ng-bind="'PUBLISH.CONFIGURATION.TITLE' | translate"></h2>
  <div class="well well-lg" ng-bind="'PUBLISH.CONFIGURATION.INFO' | translate"></div>
  <div class="row">
    <div ng-if="youtubeConf" class="col-sd-12 col-md-4">
      <div class="panel panel-default">
        <div uib-popover="{{'PUBLISH.CONFIGURATION.YOUTUBE_INFO' | translate}}" popover-trigger="'mouseenter'" popover-placement="bottom" class="panel-heading text-uppercase" ng-bind="'PUBLISH.CONFIGURATION.YOUTUBE_TITLE' | translate"></div>
        <div class="panel-body">
          <p ng-if="youtubeConf.hasToken">
            {{ 'PUBLISH.CONFIGURATION.YOUTUBE_PEER_ASSOCIATED_STATUS' | translate}}
            <br>
            <a ng-if="rights.edit" href="{{youtubeConf.authUrl}}" ng-bind="'PUBLISH.CONFIGURATION.YOUTUBE_MODIFY_PEER' | translate"></a>
          </p>
          <p ng-if="!youtubeConf.hasToken">
            {{ 'PUBLISH.CONFIGURATION.YOUTUBE_PEER_NOT_ASSOCIATED_STATUS' | translate}}
            <br>
            <a ng-if="rights.edit" href="{{youtubeConf.authUrl}}" ng-bind="'PUBLISH.CONFIGURATION.YOUTUBE_PEER' | translate"></a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sd-12 col-md-4">
      <div class="panel panel-default">
        <div uib-popover="{{'PUBLISH.CONFIGURATION.MEDIAS_INFO' | translate}}" popover-trigger="'mouseenter'" popover-placement="bottom" class="panel-heading text-uppercase" ng-bind="'PUBLISH.CONFIGURATION.MEDIAS_TITLE' | translate"></div>
        <div class="panel-body">
          <form novalidate ng-submit="saveMediasSettings();" name="mediasSettings.form">
            <formly-form model="mediasSettings.model" fields="mediasSettings.fields" options="mediasSettings.options">
              <div class="text-right" ng-if="mediasSettings.options.formState.showForm">
                <button
                        class="btn btn-primary"
                        type="submit"
                        ng-disabled="mediasSettings.form.$invalid || mediasSettings.isFormSaving"
                        ng-bind="'CORE.UI.FORM_SAVE' | translate"
                ></button>
              </div>
            </formly-form>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>