<div class="pu-config">
<h2 ng-bind="'PUBLISH.CONFIGURATION.TITLE' | translate"></h2>
<div class="well well-lg" ng-bind="'PUBLISH.CONFIGURATION.INFO' | translate"></div>
<div class="row">
  <div ng-if="youtubeConf" class="col-sd-12 col-md-4">
    <div class="panel panel-default">
      <div uib-popover="{{'PUBLISH.CONFIGURATION.YOUTUBE_INFO' | translate}}" popover-trigger="mouseenter" popover-placement="bottom" class="panel-heading text-uppercase" ng-bind="'PUBLISH.CONFIGURATION.YOUTUBE_TITLE' | translate"></div>
      <div class="panel-body">
        <p ng-if="youtubeConf.hasToken">
          {{ 'PUBLISH.CONFIGURATION.YOUTUBE_PEER_ASSOCIATED_STATUS' | translate}}
          <br>
          <a ng-if="rights.edit" href="{{youtubeConf.authUrl}}" ng-bind="'PUBLISH.CONFIGURATION.YOUTUBE_MODIFY_PEER' | translate"></a>
        </p>
        <p ng-if="!youtubeConf.hasToken">
          {{ 'PUBLISH.CONFIGURATION.YOUTUBE_PEER_NOT_ASSOCIATED_STATUS' | translate}}
          <br>
          <a ng-if="rights.edit" href="{{youtubeConf.authUrl}}" ng-bind="'PUBLISH.CONFIGURATION.YOUTUBE_PEER' | translate"></a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sd-12 col-md-4">
    <div class="panel panel-default">
      <div uib-popover="{{'PUBLISH.CONFIGURATION.UPLOAD_INFO' | translate}}" popover-trigger="mouseenter" popover-placement="bottom" class="panel-heading text-uppercase" ng-bind="'PUBLISH.CONFIGURATION.UPLOAD_TITLE' | translate"></div>
      <div class="panel-body">
        <p>
          {{ 'PUBLISH.CONFIGURATION.UPLOAD_DEFAULT_OWNER' | translate}}
          <br>
          <select ng-disabled="!rights.edit" class="form-control" ng-change="saveOptions()" ng-model="default.owner" ng-options="option.name for option in options.owners track by option.value"></select>
        </p>
        <p>
          {{ 'PUBLISH.CONFIGURATION.UPLOAD_DEFAULT_GROUP' | translate}}
          <br>
          <select ng-disabled="!rights.edit" class="form-control" ng-change="saveOptions()" ng-model="default.group" ng-options="option.name for option in options.groups track by option.value"></select>
        </p>
      </div>
    </div>
  </div>

</div>